.container {
    margin-left: 200px;
    padding: 20px;
}

section {
    height: 100vh;
    color: black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section:nth-child(1) {
    background-color: #FF8080;
}

.section:nth-child(2) {
    background-color: #FFCF96;
}

.section:nth-child(3) {
    background-color: #F6FDC3;
}

.section:nth-child(4) {
    background-color: #CDFAD5;
}